body {
  font-family: Gill Sans, sans-serif;
  background-color: rgb(23, 136, 23);
  text-align: center;
}

.cont{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.link{
  text-decoration: none;
  font-size: large;
}